@using MeetupWebApp.Features.BeAnOrganizer
@using MeetupWebApp.Features.ViewTransactions
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject NavigationManager NavigationManager
@inherits BaseComponent
@rendermode InteractiveServer

<ul class="navbar-nav ms=auto">
    @if (base.IsAuthentdicated)
    {
        <ViewTransactionButton></ViewTransactionButton>
        <BeAnOrganizerComponent></BeAnOrganizerComponent>

        <li class="nav-item">
            <a class="nav-link text-light" href="@($"/users/{base.UserId}/manage-rsvp-events")">Hello, @base.Username</a>

        </li>
        <li class="nav-item">
            <a class="nav-link text-light btn btn-link" @onclick="Logout">Logout</a>
        </li>

        
    }
    else
    {
        <BeAnOrganizerComponent></BeAnOrganizerComponent>
        <li class="nav-item">
            <a class="nav-link text-light btn btn-link" @onclick="Login">Login</a>
        </li>
    }
</ul>

<DialogComponent @ref="DialogComp" Title="Sign in">

    <Content>
        <ExternalLoginButtonsComponent BeOrganizer="false"></ExternalLoginButtonsComponent>
    </Content>
</DialogComponent>



@code{

    DialogComponent DialogComp = new();

    public void Login()
    {
        DialogComp.ShowModel();
    }

    public void Logout()
    {
        var redirectUrl = NavigationManager.Uri.ToString();
        var EncodedRedirectUri = HttpUtility.UrlEncode(redirectUrl);

        NavigationManager.NavigateTo($"/logout?redirecturl={EncodedRedirectUri}", true);
    }
}