@page "/AccessDenied"


<div class="text-center p-5 bg-white rounded shadow">
    <h1 class="display-4 text-danger mb-3">Access Denied</h1>
    <p class="lead mb-4">You are not authorized to view this content.</p>
    <a href="/" class="btn btn-primary btn-lg">Go Home</a>
</div>