@using MeetupWebApp.Data.Entities
@using MeetupWebApp.Shared.ViewModels
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (Users is not null && Users.Count > 0)
{
    <h6>Attendees</h6>

    <div class="container">
        <div class="row g-3">
            @foreach (var user in Users)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="card border-0">
                        <p class="card-title fw-bold">
                            @user.Username  @(CurrentUserId.ToString() == Event?.OrganizerId.ToString() ? "(Organizer)":"") @if(CurrentEmail == user.Email)
                            {
                                <span class="badge bg-primary m-1">you</span>
                            }
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <span class="badge m-1"></span>
    <h6>Be the First Attendee</h6>
}


@code {
    [Parameter]
    public List<User>? Users { get; set; }

    [Parameter]
    public EventViewModel? Event { get; set; }

    public string CurrentEmail = string.Empty;

    public string CurrentUserId = string.Empty;


    public AuthenticationState? AuthenticationState;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (AuthenticationState.User?.Identity?.IsAuthenticated ?? false)
        {
            CurrentEmail = AuthenticationState.User?.Claims?.FirstOrDefault(x => x.Type == ClaimTypes.Email)?.Value ?? string.Empty;
            CurrentUserId = AuthenticationState.User?.Claims?.FirstOrDefault(x => x.Type == SharedHelper.GetUserIdClaimType())?.Value ?? string.Empty;
        }
    }
}