@page "/events/{id:int}"
@using MeetupWebApp.Data.Entities
@using MeetupWebApp.Features.LeaveAComment
@using MeetupWebApp.Features.RSVPEvent
@using MeetupWebApp.Shared.ViewModels
@inject ViewSingleEventService viewSingleEventService
@inject LayoutService layoutService
@rendermode InteractiveServer

@if (eventViewModel is not null)
{
    <div style="padding-bottom: 80px">
        <h2>@eventViewModel.Title</h2>
        <hr />

        <p>
            <img src="@eventViewModel.ImageUrl" alt="Event Image" class="rounded" />
        </p>

        <h6>Price</h6>
        @if(eventViewModel.HasCost)
        {
            <span class="badge bg-primary mb-2">
                @eventViewModel.TicketPrice $
            </span>
        }
        else
        {
            <span class="badge bg-success mb-2">
                FREE
            </span>
        }

        <br />

        <h6>Details</h6>

        <pre style="white-space: pre-wrap; word-wrap: break-word">
                @eventViewModel.Description
            </pre>
        <hr />

        <AttendeesComponent Event="eventViewModel" Users="Users"></AttendeesComponent>
        <br />
        <LeaveACommentComponent _Event="eventViewModel"></LeaveACommentComponent>
    </div>
}
else
{
    <p><em>Loading....</em></p>
}



@code {
    [Parameter]
    public int id { get; set; }

    [PersistentState(AllowUpdates = true)]

    public EventViewModel eventViewModel { get; set; } = null!;

    public List<User>? Users { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Users = await viewSingleEventService.GetAttendees(id);

        eventViewModel = await viewSingleEventService.GetEventByIdAsync(id);

        layoutService.SetContentRender(@<RSVPEventFooterComponent _Event="eventViewModel" />);
    }
}
