@page "/events/{id:int}"
@using MeetupWebApp.Data.Entities
@using MeetupWebApp.Features.RSVPEvent
@inject ViewSingleEventService viewSingleEventService
@inject LayoutService layoutService
@rendermode InteractiveServer

@if(eventViewModel is not null)
{
    <div style="padding-bottom: 80px">
        <h2>@eventViewModel.Title</h2>
        <hr />

        <p>
            <img src="@eventViewModel.ImageUrl" alt="Event Image" class="rounded" />
        </p>
        <br />

        <h6 class="display-6 fw-bold">Details</h6>

        <pre style="white-space: pre-wrap; word-wrap: break-word" class="lead ">
            @eventViewModel.Description
        </pre>
        <hr />

        <AttendeesComponent Users="Users"></AttendeesComponent>

    </div>
}
else
{
    <p><em>Loading....</em></p>
}



@code {
    [Parameter]
    public int id { get; set; }

    [PersistentState(AllowUpdates = true)]

    public EventViewModel eventViewModel { get; set; } = null!;

    public List<User>? Users { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Users = await viewSingleEventService.GetAttendees(id);

        eventViewModel = await viewSingleEventService.GetEventByIdAsync(id);

        layoutService.SetContentRender(@<RSVPEventFooterComponent _Event="eventViewModel" />);
    }
}
