@page "/payment-failed"
@rendermode InteractiveServer

@*write the failed message with styling with bootstrap*@
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Payment Failed!</h4>
    <p>Unfortunately, your payment could not be processed at this time. Please try again later or contact support if the issue persists.</p>
    <hr>
    <p class="mb-0">We apologize for any inconvenience this may have caused.</p>

    <a href="/" class="btn btn-primary mt-3">Return to Home</a>

</div>